GOOGLE_MCC_ID=3963045378
GOOGLE_DEVELOPER_TOKEN=93VIU4ehzkRJ4tXBqdiHeg

GOOGLE_CLIENT_ID=42239471518-96q3khulcn6jc825oa6k50kcd888b5au.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# ⚠️ IMPORTANT:
# You MUST generate the refresh token manually using the credentials above.
# 1. Go to https://developers.google.com/oauthplayground
# 2. Click Gear Icon -> Use your own credentials -> Paste Client ID & Secret above
# 3. In Scopes, paste: https://www.googleapis.com/auth/adwords
# 4. Authorize -> Exchange code for tokens -> Copy "Refresh Token"
GOOGLE_REFRESH_TOKEN=PASTE_YOUR_REFRESH_TOKEN_HERE

CRON_SECRET=my-secret-key
